body {
  height: 100%;
  font-family: Futura, sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 300;
}

a {
  display: inline-block;
  color: #08c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 600;
}

.hero {
  height: 100%;
  color: #333;
}

.hero-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-decoration: none;
}

.hero-navigation-link {
  color: #8a8a8a;
  font-weight: 200;
}

.hero-navigation-link.w--current {
  color: #000;
}

.hero-navigation-text {
  min-width: 8em;
  margin-bottom: 5px;
  font-family: Futura, sans-serif;
  color: #333;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: -0.02em;
}

.hero-logo-emblem {
  height: 8em;
}

.hero-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.hero-logo:hover {
  text-decoration: none;
}

.hero-logo.w--current {
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.hero-logo.w--current:hover {
  text-decoration: none;
}

.hero-logo-script {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 4em;
  line-height: normal;
  letter-spacing: -0.04em;
}

.hero_logo-scriptleft {
  display: inline-block;
  font-weight: 200;
}

.hero-logo-scriptright {
  display: inline-block;
  font-weight: 500;
}

.hero-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.8;
}

.quotecard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.slideshowcard {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.quotecard-box {
  max-width: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.slideshowcard-box {
  height: 500px;
}

.invitecard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.invitecard-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  text-align: center;
}

.invitecard-text.w--current {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  text-align: center;
}

.invitebutton {
  display: inline-block;
  padding: 5px 40px;
  border: 1px solid #08c;
  border-radius: 4px;
  color: rgba(0, 136, 204, .8);
  text-align: center;
}

.invitebutton:hover {
  background-color: rgba(0, 136, 204, .8);
  color: #fff;
  text-decoration: none;
}

.invitebutton.w--current {
  display: inline-block;
  padding: 5px 40px;
  border: 1px solid #08c;
  border-radius: 4px;
  text-decoration: none;
}

.invitebutton.w--current:hover {
  background-color: rgba(0, 136, 204, .4);
  color: #fff;
}

.invitecard-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
}

.invitecard-buttonbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.hero-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.hero-navigation-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.hero-navigation-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.hero-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.illustratedcard {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.illustratedcard-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.illustratedcard-description {
  max-width: 600px;
  padding-right: 40px;
  padding-left: 40px;
}

.illustratedcard-picture {
  width: 30%;
  margin-top: -100px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallerycard {
  padding: 40px;
}

.gallerycard-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallerycard-hbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.gallerycard-vbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gallerycard-tallpicture {
  width: 200px;
  height: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 6px 0 #7c7c7c;
}

.gallerycard-squarepicture {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 6px 0 #7c7c7c;
}

.gallerycard-squarepicture.gallerycard-picture1 {
  background-image: url('../images/Gallery-3-thumb.jpg'), url('../images/example-bg.png');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.gallerycard-widepicture {
  display: block;
  width: 200px;
  height: 150px;
  margin-bottom: 20px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 6px 0 #7c7c7c;
}

.gallerycard-widepicture.gallerycard-picture8 {
  background-image: url('../images/Gallery-1-thumb.jpg'), url('../images/example-bg.png');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.postcard {
  padding: 40px;
}

.postcard-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.postcard-thumbnail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #e4edf2;
  background-color: #f6f8f9;
}

.postcard-picture {
  width: 100px;
  height: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.postcard-script {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 12px;
}

.postcard-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 1.4em;
  line-height: 1em;
}

.postcard-excerpt {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  color: #8e8e8e;
  font-size: 1em;
  line-height: 1.2em;
}

.postcard-link {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 1em;
  line-height: 2em;
}

.footer {
  background-color: #fff;
}

.footer-skyline {
  height: 60px;
  background-image: url('../images/Skyline.png');
  background-position: 0px 50%;
  background-size: contain;
  background-repeat: repeat-x;
  opacity: 0.6;
}

.footer-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-navigation-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  margin-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-navigation-item {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #6b6891;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 200;
}

.slideshowcard-slide1 {
  background-image: url('../images/Gallery-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slideshowcard-slide2 {
  background-image: url('../images/Gallery-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-logo-subscript {
  font-size: 1.2em;
  text-align: center;
}

.hero-play {
  position: absolute;
  left: 20px;
  top: 50%;
  display: none;
}

.hero-play:hover {
  background-color: hsla(0, 0%, 100%, .3);
}

.hero-play:active {
  background-color: hsla(0, 0%, 100%, .4);
}

.hero-navigation-logoimg {
  width: auto;
  height: 4em;
  margin-top: 36px;
}

.hero-navigation-logoimg:hover {
  border-width: 1px;
  border-color: #333;
  border-bottom-style: solid;
}

.hero-draft {
  position: fixed;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-draft-message {
  padding: 40px;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.1em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.1px;
}

.hero-draft-resources {
  text-align: center;
}

.hero-draft-link {
  padding: 20px;
  color: #d5c292;
  font-size: 2.2em;
}

.hero-draft-link.hero-draft-link--facebook {
  color: #6887d6;
}

.hero-draft-link.hero-draft-link--youtube {
  color: #d84e4e;
}

.hero-draft-logo {
  padding-bottom: 20px;
}

.hero-draft-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-navigation-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1em;
  padding-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-color: #333;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.hero-navigation-sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero-navigation-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: center;
}

.hero-navigation-mainmarker {
  width: 30%;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #809eff;
  opacity: 0;
}

.hero-navigation-mainmarker.w--current {
  opacity: 1;
}

.body1 {
  background-image: url('../images/Article-1.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.article1 {
  display: block;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.article1-header {
  display: block;
  width: 100%;
  height: 300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url('../images/Gallery-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.article1-title {
  display: block;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  font-size: 6em;
  line-height: 0.7em;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.05em;
}

.textcard {
  margin: 40px;
  color: #5c5c5c;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: justify;
}

.article1-body {
  background-color: #fff;
}

.widecard {
  width: 100%;
  max-width: 100%;
}

.article1-subtitle {
  margin: 40px;
  font-size: 3em;
  line-height: 1em;
  letter-spacing: -0.05em;
}

.picturecard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 33px -100px 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.picturecard-picture {
  width: 200px;
  height: 150px;
  background-image: url('../images/Article-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.tablecard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
}

.tablecard-header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top: 2px solid #f48024;
}

.tablecard-title {
  padding-top: 10px;
  color: #333;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.tablecard-subtitle {
  color: #666;
  line-height: 1em;
  font-weight: 200;
}

.emptybox {
  height: 1px;
}

.tablecard-info {
  min-width: 15em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #0098ff;
  color: #fff;
  text-align: center;
}

.tablecard-info.when {
  background-color: #00a321;
}

.tablecard-info.at {
  background-color: #ffa300;
}

.tablecard-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tablecard-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 15em;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.hero-navigation-subentry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-navigation-submarker {
  overflow: hidden;
  width: 0.6em;
  height: 0.6em;
  border-radius: 4px;
  background-color: #809eff;
  opacity: 0;
}

.hero-navigation-submarker.w--current {
  opacity: 1;
}

.hero-navigation-contact {
  margin-top: 50px;
}

.artcile2-body {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.aricle2 {
  display: block;
  text-align: left;
}

.body2 {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), url('../images/3e7511b.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), url('../images/3e7511b.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.body3 {
  background-image: -webkit-linear-gradient(270deg, hsla(2, 100%, 88%, .8), hsla(2, 100%, 88%, .8)), url('../images/13732018_10208183091068770_1648700128740142395_o.jpg');
  background-image: linear-gradient(180deg, hsla(2, 100%, 88%, .8), hsla(2, 100%, 88%, .8)), url('../images/13732018_10208183091068770_1648700128740142395_o.jpg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.traceurcard-traceur {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  margin-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.traceurcard-traceur-info {
  margin-top: 20px;
}

.traceurcard-traceur-picture {
  width: 15em;
  height: 15em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #8f81ff #5d4af0 #0e054e;
  border-radius: 10em;
  background-image: url('../images/Dan.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.traceurcard-traceur-name {
  margin-top: -3.5em;
  margin-bottom: 2.5em;
  padding: 0.2em 1em;
  box-shadow: 4px 4px 0 0 rgba(51, 51, 51, .5), inset 0 0 23px -15px #333;
  color: #fff;
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 400;
}

.traceurcard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4em;
  margin-bottom: 4em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.traceurcard.smaller {
  font-size: 0.8em;
}

.emblemcard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.emblemcard-emblem {
  width: auto;
  height: 10em;
  max-width: auto;
  margin: 40px;
}

.traceurcard-traceur-desc {
  color: #745fc9;
  font-size: 2em;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
}

.mediacard-item {
  width: 25vw;
  height: 25vw;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media (max-width: 991px) {
  .hero-navigation-text {
    font-size: 1.5em;
  }
  .invitebutton.w--current {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .hero-navigation-left {
    margin-bottom: 10px;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .hero-navigation-right {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-header {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .gallerycard-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .postcard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .postcard-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-play {
    position: static;
    display: block;
    margin-bottom: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
  }
  .hero-navigation-logoimg {
    margin-top: 0px;
  }
  .hero-draft {
    background-color: transparent;
  }
  .hero-draft-box {
    width: 100%;
    height: 100%;
  }
  .hero-navigation-mainmarker {
    height: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .hero-navigation-logo {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .hero-navigation-text {
    min-width: 6em;
    margin-top: 5px;
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .hero-logo-emblem {
    height: 4em;
  }
  .hero-logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .hero-logo.w--current {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .hero-logo-script {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 2em;
  }
  .hero-navigation-left {
    margin-bottom: 5px;
  }
  .hero-navigation-right {
    margin-bottom: 5px;
  }
  .hero-header {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer-navigation {
    margin: 20px 20px 10px;
  }
  .footer-navigation-column {
    margin-right: 10px;
    margin-left: 10px;
  }
  .hero-logo-subscript {
    padding-left: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .hero-play {
    width: 100%;
    margin-bottom: 0px;
    box-shadow: none;
  }
  .hero-navigation-logoimg {
    height: 3em;
  }
  .hero-draft-box {
    padding-right: 20px;
    padding-left: 20px;
  }
  .hero-navigation-sub {
    margin-top: 10px;
  }
  .hero-navigation-logo {
    margin-top: 10px;
  }
  .hero-navigation-contact {
    margin-top: 10px;
  }
}

@media (max-width: 479px) {
  .hero-navigation {
    margin-right: 5px;
    margin-left: 5px;
  }
  .hero-navigation-text {
    min-width: 5em;
    font-size: 1em;
    text-align: center;
    letter-spacing: -0.05em;
  }
  .hero-logo-emblem {
    height: 4em;
  }
  .hero-logo.w--current {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .hero-logo-script {
    font-size: 2.5em;
    line-height: 1em;
  }
  .invitecard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .invitecard-column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .postcard-picture {
    width: 60px;
  }
  .footer-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-navigation-column {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-logo-subscript {
    width: 100%;
    padding-left: 0px;
  }
  .hero-draft-message {
    font-size: 1em;
  }
  .hero-draft-box {
    padding-right: 20px;
    padding-left: 20px;
  }
  .hero-navigation-main {
    padding-right: 0.4em;
    padding-left: 0.4em;
  }
  .hero-navigation-submarker {
    width: 0.3em;
    height: 0.3em;
    margin-right: 0.5em;
    margin-left: -0.8em;
  }
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/4-Demi-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/1-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/7-Extra-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/2-Book.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/6-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/5-Heavy.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/3-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
